/* reset.css */

/* Сброс базовых стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Описание поведения ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Отключаем стили для форм */
/*input,*/
textarea,
button {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button,
select {
    background: none;
    cursor: pointer;
}

/* Сброс стилей у таблиц */
table {
    border-collapse: collapse;
}

ul,
ol {
    list-style: none;
}

/* Убираем полосы прокрутки */
html,
body {
    overflow-x: hidden;
    min-height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Базовые стили для body */
body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

/* Убираем стили по умолчанию для картинок */
img {
    max-width: 100%;
    height: auto;
}
